/* Colours
#F9F7F7
#DBE2EF
#3F72AF
#112D4E */

/* Index.html page */

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #F9F7F7;
}

h1 {
  font-weight: 600;
  font-size: 500%;
  color: #112D4E;
}

h2 {
  font-weight: 500;
  font-size: 400%;
  color: #112D4E;
}

h3 {
  font-weight: 400;
  font-size: 300%;
  color: #112D4E;
}

h4 {
  font-weight: 400;
  font-size: 200%;
  color: #112D4E;
}

h5 {
  font-weight: 400;
  font-size: 150%;
  color: #112D4E;
}

p {
  margin: 0.5rem 0;
  font-size: 120%;
  font-weight: 500;
  color: #112D4E;
}

hr {
  margin: 3rem 15rem;
  border: 1px solid #112D4E;
}

.dotted-hr {
  border-style: dotted none none;
  border-width: 7px;
  width: 3.5%;
  margin: 2rem auto 2rem;
}

/* Navbar */
#mainNav {
  background-color: #DBE2EF;
  padding: 1rem;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
}

.nav-item {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}

.html-icon {
  width: 60px;
  height: auto;
  padding: 0 10px;
}

/* Introduction section */

.introduction-section {
  margin: 7rem 0 3rem;
  padding: 3rem 7rem;
}

.introduction {
  padding: 6rem 0;
  text-align: left;
}

.introduction a:hover {
  text-decoration: none;
}

/* Skills section */

.skills-section {
  margin: 3rem 0 3rem;
  padding: 3rem 7rem;
}

.skills-text {
  padding: 0rem;
}

.skills-desc {
  font-size: 130%;
}

/* Programming courses */

.programming-text h4 {
  margin: 0 0 0 1rem;
  display: inline-block;
}

.programming-text h5 {
  margin-top: 2rem;
}

.programming-text img {
  width: 100px;
  height: auto;
  display: inline-block;
}

.course-row {
  margin: 0 2rem;
}

.course-column {
  margin-top: 2rem;
  font-weight: 500;
  color: #3F72AF;
}

.course-column h3 {
  font-style: "Ubuntu";
  color: #3F72AF;
  font-size: 1.75rem;
}

.course-column p {
  font-style: "Ubuntu";
  font-size: 1.25rem;
}

/* Design */
.design-row {
  margin: 0 3rem;
}

.design-images {
  width: 80px;
  margin: 1rem;
}

.design-element {
  margin: 1rem 0;
  padding: 1rem;
}

/* Carousel */
#courses-carousel {
  padding: 1rem 0;
}

#courses-carousel .carousel-control-next img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

#courses-carousel .carousel-control-prev img {
  width: 100px;
  height: auto;
  margin-left: 20px;
}

/* Footer */
footer .container {
  padding: 2rem 0;
}

footer h5 {
  padding-bottom: 1rem;
}

/* title section for each sub page */
.title-section {
  margin: 10rem 2rem 4rem;
}

.title-section h1 {
  margin-bottom: 5rem;
}

/* about.html page */

.contact-btn {
  display: block;
  margin: 10% 0;
  text-align: center;
  font-weight: 500;
}

.about-row {
  padding: 1% 5%;
  text-align: left;
}

.about-text {
  padding: 2% 10%;
  text-align: left;
  font-size: 150%;
}

.about-text li {
  margin: 5% 0;
}

.about-col {
  padding: 2% 7%;
}

/* projects.html page*/
.project-row {
  padding: 1% 12%;
  margin: 2%;
}

.project-row div{
  padding: 2% 1%;
}

.project-img {
  width: 175px;
  height: auto;
}

.project-title, .project-subtitle {
  text-align: left;
}

.project-title {
  font-weight: 500;
  color: #3F72AF;
}

.project-link:hover {
  text-decoration: none;
}

.project-btn-container {
  text-align: left;
}

.project-btn {
  display: inline-block;
  padding-right: 0.5rem;
}

.add-project-btn {
  padding: 0 35%;
}

/*add_projects.html*/

.form {
  text-align: left;
  padding: 0 15%;
}

.help-block {
  color: red;
}

.flash-message {
  color: red;
  font-size: 1.5rem;
}