{% include "header.html" %}

  <section class="title-section">
  <h1>🤔 About</h1>
  <hr>

<!--  <div class="about-text">-->
<!--    <ul class="about-text">-->
<!--      <li>Pursing a double major in Computer Science and Data Analytics</li>-->
<!--      <li>Passionate in web development and working on coding <a href="{{ url_for('projects') }}">projects</a> to-->
<!--        automate stuff-->
<!--      </li>-->
<!--      <li>Enjoy learning more about these areas</li>-->
<!--    </ul>-->
<!--    <h2>I'm Rui Jia, an undergraduate at NUS.</h2>-->
<!--    <h5>I'm majoring in Computer Science and Statistics, graduating in 2026.</h5>-->
<!--    <h5>I enjoy creating cool and useful things from coding <a href="{{ url_for('projects') }}">projects</a>, to making <a href="https://www.youtube.com/channel/UCF8TNsHtx8AjcyuTSucZxiA">YouTube</a> videos.</h5>-->
<!--    <h5>It's always exciting to learn new things that I find interesting, especially when it allows me to gain new perspectives and allows me to bring my ideas to life.</h5>-->
<!--  </div>-->

  <div class="row about-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6 about-col">
      <ul class="about-text">
        <li>Pursing a double major in Computer Science and Data Analytics</li>
        <li>Passionate in web development and working on coding <a class="project-link" href="{{ url_for('projects') }}">projects</a> to
          automate stuff
        </li>
        <li>Enjoy learning more about these areas</li>
      </ul>
    </div>
    <div class="col-lg-4 about-col">
      <h4>Contact 📱</h4>
      <button type="button" onclick="location.href='static/files/resume.pdf';" class="btn btn-outline-primary btn-lg contact-btn">Resume</button>
      <button type="button" onclick="location.href='https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&su=Hey+there!&to=ruijia.chan@gmail.com';" class="btn btn-outline-primary btn-lg contact-btn">Email</button>
      <button type="button" onclick="location.href='https://github.com/matochichap';" class="btn btn-outline-primary btn-lg contact-btn">Github</button>
      <button type="button" onclick="location.href='https://www.linkedin.com/in/rui-jia-chan-21690b216?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BfjBhGXAORzWR4TQMqYGhTQ%3D%3D';" class="btn btn-outline-primary btn-lg contact-btn">LinkedIn</button>
    </div>
<!--    <div class="col-lg-2"></div>-->

  </div>
  <hr>
  </section>

{% include "footer.html" %}