{% include "header.html" %}

  <section class="title-section">
  <h1>🤔 About</h1>
  <hr>

    <div class="about-text">
      <h2>I'm Rui Jia, an undergraduate at NUS.</h2>
      <h5>I'm majoring in Computer Science and Statistics, graduating in 2026.</h5>
      <h5>I enjoy creating cool and useful things from coding <a href="{{ url_for('projects') }}">projects</a>, to making <a href="https://www.youtube.com/channel/UCF8TNsHtx8AjcyuTSucZxiA">YouTube</a> videos.</h5>
      <h5>It's always exciting to learn new things that I find interesting, especially when it allows me to gain new perspectives and allows me to bring my ideas to life.</h5>
    </div>

  <div class="row about-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 interests">
      <h3>What I like 👍</h3>
      <ul class="interests-li">
        <li>Genshin</li>
        <li>When people sub to my YouTube channel</li>
        <li>When my code actually works</li>
      </ul>
    </div>
    <div class="col-lg-5 interests">
      <h3>What I'm learning 💡</h3>
      <ul class="interests-li">
        <li>How to make games</li>
        <li>How to get people to sub to my YouTube channel</li>
        <li>How to write code that works</li>
      </ul>
    </div>
    <div class="col-lg-1"></div>

  </div>
  <hr>
  </section>

{% include "footer.html" %}