  <!-- Footer start-->
    <footer>
<!--      <h4>Contact 📱</h4>-->
<!--      <hr class="dotted-hr">-->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/rui-jia-chan-21690b216?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BfjBhGXAORzWR4TQMqYGhTQ%3D%3D">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/matochichap">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&su=Hey+there!&to=ruijia.chan@gmail.com">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa fa-solid fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCF8TNsHtx8AjcyuTSucZxiA">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p>© Copyright {{year}} Chan Rui Jia</p>
          </div>
        </div>
      </div>
    </footer>

  </body>

  </html>
  <!-- footer end -->
