{% include "header.html" %}

  <section class="introduction-section">
    <div class="row">
      <div class="col-lg-6">
        <img class="coding-img" src="static/images/coding-icon.png" alt="coding img">
      </div>
      <div class="col-lg-6">
        <div class="introduction">
          <h1>Hello!</h1>
          <h3>I'm Rui Jia, a Computer Science student at <a href="https://www.nus.edu.sg/">NUS</a>.</h3>
        </div>
      </div>

    </div>
  </section>

  <hr>

  <section class="skills-section">
      <h2 class="skills-text">Skills 🤹‍♂️</h2>
    </section>

    <hr class="dotted-hr">

    <div class="row course-row">
      <div class="course-column col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Programming Languages</h3>
          </div>
          <div class="card-body">
            <p>C</p>
            <p>Java</p>
            <p>Python</p>
            <p>Javascript</p>
            <p>(HTML and CSS)</p>
          </div>
        </div>
      </div>

      <div class="course-column col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Libraries and Frameworks</h3>
          </div>
          <div class="card-body">
            <p>React</p>
            <p>Flask</p>
            <p>Selenium</p>
            <p>Pandas</p>
            <p>Beautiful Soup</p>
          </div>
        </div>
      </div>

      <div class="course-column col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Learning</h3>
          </div>
          <div class="card-body">
            <p>Web Development</p>
            <p>Web Scraping</p>
            <p>API Development</p>
            <p>Object Oriented Programming</p>
            <p>Data Structures and Algorithms</p>
          </div>
        </div>
      </div>

    </div>

    <hr class="dotted-hr">

    <div class="programming-text">
      <img src="static/images/programming-icon.png" alt="programming icon">
      <h4>Programming Courses</h4>
    </div>

    <p class="skills-desc">Programming courses that I have taken.</p>

    <div id="courses-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <a href="https://www.udemy.com/course/100-days-of-code/">
            <img width="40%" height="22.5%" src="static/images/100-days-of-code.jpg" alt="100 days of code pic">
          </a>
          <p><i>100 Days of Code by The App Brewery</i></p>
        </div>
        <div  class="carousel-item container-fluid">
          <a href="https://www.youtube.com/watch?v=fis26HvvDII">
            <img width="40%" height="22.5%" src="static/images/android-app-development.jpg" alt="android pic">
          </a>
          <p><i>Android App Development by freecodecamp</i></p>
        </div>
        <div class="carousel-item container-fluid">
          <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science?delta=0">
            <img width="40%" height="22.5%" src="static/images/cs50.jpg" alt="cs50 pic">
          </a>
          <p><i>CS50 by Havard University</i></p>
        </div>
      </div>

      <a class="carousel-control-prev" href="#courses-carousel" role="button" data-slide="prev">
        <img src="static/images/prev.png" alt="next">
      </a>
      <a class="carousel-control-next" href="#courses-carousel" role="button" data-slide="next">
        <img src="static/images/next.png" alt="next">
      </a>
    </div>

    <hr class="dotted-hr">

    <div class="programming-text">
      <img src="static/images/design.png" alt="design icon">
      <h4>Design tools</h4>
      <p class="skills-desc">Design tools that I have used.</p>
    </div>

    <div class="row design-row">
      <div class="col-lg-4 design-element">
        <img class="design-images" src="static/images/photoshop-icon.png" alt="photoshop img">
        <h5>Adobe Photoshop</h5>
      </div>
      <div class="col-lg-4 design-element">
        <img class="design-images" src="static/images/premiere-pro.png" alt="premiere pro img">
        <h5>Adobe Premiere Pro</h5>
      </div>
      <div class="col-lg-4 design-element">
        <img class="design-images" src="static/images/after-effects-icon.png" alt="after effects img">
        <h5>Adobe After Effects</h5>
      </div>
    </div>

  </section>

  <hr>

{% include "footer.html" %}